.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Archivo';
    &__testimonialList {
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        justify-content: center;
    }
    &__testimonials {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 1200px;
        margin: auto;
        padding: 8rem 2rem;

        h1 {
            font-size: 2rem;
            margin-bottom: 1rem;
            font-family: 'Archivo';
        }
        h2 {
            font-size: 1.5rem;
            margin-bottom: 2rem;
            font-family: 'Archivo thin';
            width: 75%;
            text-align: center;
            line-height: 1.3;
        }
    }

    &__container {
        margin: 0 auto;
        padding: 2rem;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        max-width: 60%;
        background-color: #ffffff;
    }

    &__title {
        text-align: left;
        font-size: 1.5rem;
        color: #333333;
        line-height: 1.5;
        margin: 10px;
    }
    &__subtitle {
        text-align: left;
        font-size: 1rem;
        color: #333333;
        line-height: 1.5;
        font-family: 'Archivo thin';
        font-weight: 100;
        margin: 10px;
    }
    &__btn {
        cursor: pointer;
        padding: 15px;
        margin: 10px;
        background: #0066ff;
        color: #ffffff;
        border: none;
        font-family: 'Archivo';
        &:hover {
            background: #0155d3;
        }
    }
}

@media (max-width: 768px) {
    .home {
        &__container {
            max-width: 85%;
            margin: 0;
        }
        &__title {
            font-size: 1.2rem;
        }
        &__subtitle {
            font-size: 0.8rem;
        }
    }
}
