.playground {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

    &__heading {
        font-size: 2.5rem;
        margin-bottom: 40px;
        text-align: center;
    }

    .features {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .feature {
            width: 45%;
            margin-bottom: 40px;
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 5px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

            &__heading {
                margin-bottom: 20px;
                font-size: 1.5rem;
            }

            &__btn {
                display: inline-block;
                padding: 10px 20px;
                margin-top: 20px;
                border-radius: 5px;
                background-color: #0055d4;
                color: #fff;
                font-size: 1.1rem;
                text-decoration: none;
                transition: background-color 0.2s ease-in-out;

                &:hover {
                    background-color: #003daa;
                }
            }
            .not-active {
                background-color: #ccc;
                pointer-events: none;
            }
        }
    }
}
